In [1]:
import pandas as pd
import pytz
import datetime
from datetime import date
from datetime import datetime
from matplotlib import pyplot as plt
data = pd.read_csv('Lending-company-mod-exam.csv', index_col = 'LoanID')
lending_company = data.copy()
lending_company

C:\Users\Asus\AppData\Roaming\Python\Python310\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,Product,CustomerGender,Location,Region,TotalPrice,StartDate,TimeOfLoan,Deposit,LoanStatus
LoanID,,,,,,,,,
1,Product B,Male,Location 3,Region 2,17600.0,04/07/2018,23:20:56,2200,Active
2,Product B,Female,Location 6,Region 6,NaN,02/01/2019,17:27:08,2200,Active
3,Product C,Male,Location 8,Region 3,16600.0,08/12/2016,09:04:43,1000,NaN
4,Product B,Male,Location 26,Region 2,17600.0,09/10/2016,04:25:06,2200,Active
5,Product D,Female,Location 34,Region 3,21250.0,28/10/2017,11:15:47,2200,Active
...,...,...,...,...,...,...,...,...,...
1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,00:45:01,2200,Finished Payment
1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,01:15:18,2200,Finished Payment
1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,03:16:33,2200,Finished Payment
1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,10:55:50,1000,Finished Payment
1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,07:04:26,2200,Finished Payment

In [2]:
duration = datetime(2018, 7,4) - datetime(2016, 10, 9)

In [3]:
duration.days

633

In [4]:
LoanID_3_timestamp = lending_company["StartDate"].iloc[2] + " " + lending_company["TimeOfLoan"].iloc[2]

In [ ]:
LoanID_3_timestamp